.menu {

  &__list {
      display: flex;   
      font-size: 16px;
      font-weight: 600;
      
  }

  &__item {
      margin-right: 50px;
  }

  &__link {
        position: relative;
      &::after {
        content: '';
        @include pos($l:50%, $b:-4px);
        @include size(0, 3px);
        background-color: $color;
        transition: all .3s;
      }

      &:hover::after {
        width: 100%;
        left: 0;        
    }


        // background: $color;
        // width: 0;
        // height: 3px;
        // transition: all .3s;
    }

  &__lang {
    margin-left: 25px;
    margin-right: 5px;
}

}